<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>myFirstItem.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1C4AA7081C891FB000243B1C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1C4AA7211C891FB000243B1C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1C4AA72C1C891FB000243B1C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
